.container {
  max-width: 700px;
  margin: auto;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input,
textarea,
select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 0.8rem;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  background-color: #fdf2f2;
  color: #d32f2f;
  padding: 12px;
  border-left: 4px solid #d32f2f;
  margin-block: 20px;
  font-size: 14px;
}

.uploadBtn {
  padding: 0.6rem 1.2rem;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
}

.uploadBtn:hover {
  background-color: #333;
}