.cartList {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.itemsContainer {
  flex: 1;
  overflow-y: auto;
  padding-right: 5px;
}

.itemsContainer::-webkit-scrollbar {
  width: 6px;
}

.itemsContainer::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.itemsContainer > *:not(:last-child) {
  border-bottom: 1px solid #eee;
}
