.linkWrapper {
  text-decoration: none;
}

.card {
  width: 100%;
  min-width: 0;
  background-color: var(--dark-white);
  padding: 15px;
  flex-direction: column;
  gap: 1rem;
  transition: box-shadow 0.25s ease;
  cursor: pointer;
  position: relative;
}
.card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}
.imageContainer {
  padding: 20px;
  padding-top: 25px;
  position: relative;
  background-color: transparent;
}
.imageContainer img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 4 / 3;
  mix-blend-mode: multiply;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.card:hover .imageContainer img {
  transform: scale(1.05);
}

.saleBadge {
  background-color: black;
  color: white;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 2px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 5;
}

.addToCartButton,
.quickViewButton {
  background: var(--light-purple);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -8px;
  z-index: 10;
  transition: background 0.2s ease, transform 0.1s ease;
}

.quickViewButton {
  top: 20px;
}
.addToCartButton:hover,
.quickViewButton:hover {
  background: #2c2a5a;
  transform: scale(1.05);
}

.addToCartButton:active,
.quickViewButton:active {
  transform: scale(0.95);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--light-gray);
}

.reviews {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ratingStars {
  display: flex;
  gap: 2px;
}

.filledStar {
  color: #f9d674; /* yellow stars */
  font-size: 12px;
}

.emptyStar {
  color: #d1d5db; /* gray for empty stars */
  font-size: 12px;
}

.reviewCount {
  font-size: 12px;
  color: var(--light-gray);
}

.pricing {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  align-items: center;
}

.priceCurrent {
  font-weight: 600;
  font-size: 14px;
  color: var(--dark-blue);
}

.priceOriginal {
  font-weight: 400;
  font-size: 12px;
  color: #9ca3af; /* gray */
  text-decoration: line-through;
  margin-left: 6px;
}

.priceSavings {
  font-weight: 500;
  font-size: 12px;
  color: var(--light-red);
}

@media (min-width: 768px) {
  .addToCartButton, .quickViewButton{
    width: 36px;
    height: 36px;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .quickViewButton {
    top: 30px;
  }

  .card:hover .addToCartButton {
    opacity: 1;
    transform: scale(1);
  }
  .card:hover .quickViewButton {
    opacity: 1;
    transform: scale(1);
  }
}
