.quickViewCard {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: white;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 0px;
  background: var(--light-purple);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background 0.2s ease, transform 0.1s ease;
}

@media (min-width: 900px) {
  .closeBtn {
    right: 20px;
  }
}